In [1]:
print("hello world")

hello world

In [2]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
#read a csv file
df=pd.read_csv("C:\\Users\\asuto\\Desktop\\teach\\archive\\diabetes.csv")

In [5]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df.shape

(768, 9)

In [8]:
#data types
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [9]:
#cloumn names
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [10]:
#null value counts
df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [11]:
subset=df[['Pregnancies','Age']]

In [12]:
print(subset)

     Pregnancies  Age
0              6   50
1              1   31
2              8   32
3              1   21
4              0   33
..           ...  ...
763           10   63
764            2   27
765            5   30
766            1   47
767            1   23

[768 rows x 2 columns]

In [13]:
subset.shape

(768, 2)

In [14]:
#sorting of data
sorted_df=df.sort_values(['Pregnancies','Age'],ascending=[True,False])
sorted_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
537,0,57,60,0,0,21.7,0.735,67,0
294,0,161,50,0,0,21.9,0.254,65,0
129,0,105,84,0,0,27.9,0.741,62,1
475,0,137,84,27,0,27.3,0.231,59,0
487,0,173,78,32,265,46.5,1.159,58,0
...,...,...,...,...,...,...,...,...,...
635,13,104,72,0,0,31.2,0.465,38,1
298,14,100,78,25,184,36.6,0.412,46,1
455,14,175,62,30,0,33.6,0.212,38,1
88,15,136,70,32,110,37.1,0.153,43,1
159,17,163,72,41,114,40.9,0.817,47,1

In [15]:
#grouping of data
grouped_df=df.groupby('Pregnancies')['Age'].mean()
grouped_df

Pregnancies
0     27.603604
1     27.370370
2     27.194175
3     29.026667
4     32.779412
5     39.035088
6     39.340000
7     41.111111
8     45.368421
9     44.178571
10    42.666667
11    44.545455
12    47.444444
13    44.500000
14    42.000000
15    43.000000
17    47.000000
Name: Age, dtype: float64

In [ ]:
#https://pandas.pydata.org/docs/user_guide/index.html#user-guide